body{
	font-family: roboto;
	margin: 0px;
}
.preloader{
	font-weight: 200;
	font-size: 1.5em;
	width: 100%;
	background: rgb(238, 238, 238);
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	z-index: 1;
}
.preloader span{
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}
.preloader img{
	width: 250px;
	height: 250px;
	margin: auto;
}
h1, h2
{
	color: #444;
	font-weight: 300;
	margin: 40px 0px 20px 0px;
}
a 
{
	transition: .3s;
	text-decoration: none;
	color: rgb(49, 112, 143);
	font-weight: 500;
}
a:hover
{
	transition: .3s;
	color: #444;
}
.topnav
{
	background: #fafafa;
	position: fixed;
	right: 0;
	top: 0;
	border-bottom: 1px solid #eee;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 60px;
}
.topnav h1
{
	font-size: 1.6em;
	line-height: 60px;
	text-align: left;
	font-weight: 300;
}
.topnav a
{
	font-size: 20px;
	line-height: 60px;
	font-weight: 400;
	color: rgb(49, 112, 143);
}
#panel
{
	border: 1px solid #eee;
	background: #fff;
}
.card
{
	border-radius: 0;
	margin: 0;
	padding: 20px 30px;
	align-items: center;
	display: flex;
	
}
table 
{
	border-collapse: collapse;
	border: 1px solid #eee;
	width: 100%;
}
th 
{
	color: #444;
	background: #fff;
	font-weight: 400 !important;
	text-align: left!important;
}
th, td 
{
	padding: 10px 15px;
	border-top: 1px solid #eee;
	font-size: 14px;
}
tr:nth-child(even) 
{
	background: #f9f9f9!important;
}

th.is-sorted{
	transition: .3s; 
	cursor:pointer;	
}

th.is-sorted:hover,
th.is-sorted.active
{
	background:#eee;
}

.bottomnav
{
	background: #fafafa;
	position: relative;
	border-bottom: 1px solid #eee;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 60px;
}
.bottomnav a
{
	font-size: 15px;
	font-weight: 400;
}

.bottom-links{
	display: flex;
	justify-content: space-around;
}

.content{	
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
.row{
	width: 90%;
}
.main{
	flex-direction: column;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23eeeeee' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	margin: 30px 30px 0px 30px;
	padding-bottom: 50px;
}	
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
#cards{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.card{
	border-radius: 2px;
	width: 25%;
	margin: 0;
	padding: 10px 0px;
	align-items: center;
	display: flex;
}
.card span{
	margin-left: 10px;
}
.h1_header{
	display:flex;
	align-items:center;
}
.logo{
	border: 1px solid #e2d9d9; 
	margin: 0 10px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

ul{
	display:flex;
	justify-content:center;
}

ul li{
	margin:5px;
	list-style: none;
	cursor: pointer;
}				
ul li.active{
	text-decoration:underline;
	font-weight: 500;
}
.refresh{
	cursor:pointer;
	transition:.7s;	
}
.refresh:active{
	color:#31708f;
}
